[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
whisper-timestamped = {git = "https://github.com/linto-ai/whisper-timestamped"}
moviepy = "*"
wxpython = "*"
eel = "*"

[dev-packages]
pytube = "*"
pyinstaller = "*"

[requires]
python_version = "3.9"
