* {
box-sizing: border-box;
margin: 0;
padding: 0;
user-select: none;
}

  /* width */
::-webkit-scrollbar {
width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555; 
}



body {
font-family: 'Roboto Mono', monospace;
/* display: flex;
align-items: center;
justify-content: center;
height: 100vh; */
overflow: hidden;
}

.video-editor {
width: 100%;
height: 98%;
background-color: #333;
box-shadow: 0px 0px 10px #333;
display: flex;
flex-direction: row;
justify-content: space-between;
color: #fff;
padding: 20px;
}

.video-preview {
width: 50%;
height: 100%;
background-color: #333;
border-radius: 10px;
overflow: hidden;
display: flex;
align-items: center;
justify-content: center;
flex-direction: row;
}
.subs {
width: 50%;
height: 100%;
overflow-y: scroll;
overflow-wrap: break-word;
}


video {
width: 100%;
height: 100%;
object-fit: contain;
}

.drop-zone {
width: 100%;
height: 100%;
background-color: #333;
border: 2px dashed #222;
border-radius: 10px;
display: flex;
align-items: center;
justify-content: center;
font-size: 18px;
color: #fff;
transition: 0.2s;
user-select: none;
}

.drop-zone.drag-over {
background-color: #333;
color: #fff;
}

.upload-section {
display: flex;
align-items: center;
justify-content: center;
}

.upload-section input[type="file"] {
display: none;
}

.upload-section label {
cursor: pointer;
display: flex;
align-items: center;
justify-content: center;
padding: 10px 20px;
background-color: #222;
color: #fff;
border-radius: 5px;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
margin: 0 20px;
}

.upload-section label i {
margin-right: 10px;
}

nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  
  nav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    margin-left: 20px;
  }
  
  .dropdown-container {
    margin-left: auto;
  }
  
  .dropdown {
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  
  .dropdown:focus {
    outline: none;
  }
  
  option {
    background-color: #333;
    color: #fff;
  }
  nav {
    position: relative;
  }
  
  .dropdown-container {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  button {
    background-color: #444;
    color: #fff;
    padding: 5px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #555;
  }
  
  button:active {
    transform: translateY(2px);
    box-shadow: 0 2px #222;
  }
  

  .word {
    cursor: pointer;
    user-select: none;
  }
  .highlighted {
    background-color: #555;
  }
  .dualighted {
    background-color: #999;
  }
  .strike {
    text-decoration: line-through;
  }